nav .brand-logo {
    padding-left: 30px;
}

.messages_right.card-panel {
    padding: 0;
  }

.messages_right h6,
.messages_right p {
  padding: 0 20px 0 20px;
    }

h6 {
  font-size: 1.2em;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.secondary-content {
  color: lightgrey;
}

.card .card-action {
  padding-left: 110px;
}

.collection .collection-item.avatar{
  min-height: auto;
}

.collection .collection-item.white.avatar {
  min-height: 36px;
}

footer.page-footer {
    margin-top: 0px;
    padding-top: 20px;
    background-color: #ee6e73;
}
